.nav{
    z-index: 2;
    background: rgb(10, 10, 10);
    width: 100%;
    height: 70px;
    position: fixed;
}

.nav ul{
    display: flex;
    margin: 0 auto;
}

.nav li{
    list-style: none;
    margin: 5px 20px;
    padding: 10px 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 17px;
    color: rgb(255, 255, 255);
}

.nav a::after{
	content: "";
	display: block;
	width: 0;
	height: 2px;
    border-radius: 2px;
	background: rgb(128, 0, 0);
	transition: width 0.3s ease-in-out;
    text-align: center;
    position: relative;
    margin-left: -10%;
}

.nav a:hover::after{
    width: 120%;
}

.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.line {
	width: 35px;
	height: 4px;
	background: rgb(197, 197, 197);
	transition: 0.4s;
}

.item3 {
	width: 20px;
}

.navButton:hover .item3 {
	width: 30px;
}

.xButton .item2 {
	display: none;
}

.xButton .item1 {
	transform: rotate(45deg);
	margin-top: 10px;
}

.xButton .item3 {
	transform: rotate(-45deg);
	margin-top: 3px;
	width: 30px;
}

.xButton:hover .item1,
.xButton:hover .item3 {
	background: red;
}

.navButton {
	width: 35px;
	height: 35px;
	position: fixed;
	top: 2%;
	right: 4%;
	z-index: 5;
    display: none;
}

.lines {
	display: grid;
	grid-template-columns: repeat(1, 35px);
	grid-template-rows: repeat(3, 4px);
	gap: 4px;
}

.nav_active {
	/* display: block !important; */
	top: 0;
	right: 0%;
	transition: 0.4s;
}

@media  screen and (max-width: 850px) {
    .navButton{
        display: block;
    }
    .nav{
        height: 100%;
        width: 70%;
        position: fixed;
        right: 100%;
    }
    .nav ul{
        display: block;
        position: relative;
        top: -20%;
    }
}